* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    background-color: #1F2937
}

body { 
    height: 100vh;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #fff;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    margin-left: 2rem;
    font-size: 1.6rem;
    font-weight: 300;
}


.header {
    background-color: #1F2937;
    font-size: 2.4rem;
    color: #F9FAF8;
    font-weight: 500;
    padding: 0 20%;
}

.nav-container {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left, .nav-right {
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-right ul {
    height: 100%;
}

.nav-right li {
    height: 100%;
    display: flex;
    align-items: center;
}

.hero {
    height: 40rem;
    display: flex;
}

.hero-content, .hero-image {
    margin-top: 5rem;
}

.hero-content {
    flex: 1 1 45%;
}

.hero-image {
    flex: 1 1 45%;
    overflow: hidden;
    height: 90%;
}

.hero-image img {
    width: 100%;
    object-fit: cover;
    min-width: 40rem;
    border-radius: 2rem;
}

.hero p {
    color: #E5E7EB;
    font-size: 1.8rem;
    font-weight: 300;
    margin: 2rem 0;
    width: 90%;
}

.btn {
    background-color: #3882F6;
    width: 10rem;
    display: flex;
    justify-content: center;
    padding: 0.8rem;
    border-radius: 1rem;
}

.btn a {
    margin: 0;
    font-weight: 500;
}

.info {
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    background-color: #fff;
}

.info h2 {
    font-size: 3.6rem;
    font-weight: 600;
    color: #1F2937;
}

.info-blocks {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    padding: 3rem;
}

.info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 15rem;
}

.info-image {
    height: 14rem;
    width: 14rem;
    border: 3px solid #3882F6;
    border-radius: 1.6rem;
    margin-bottom: 0.8rem;
}

.info-block p {
   width: 70%;
}

footer {
    padding: 1.6rem;
    display: flex;
    justify-content: center;
    flex: 1 1 20vh;
}

footer p {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
}

.quote {
    background-color: #E5E7EB;
    height: 40rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-text {
    font-size: 3.6rem;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    width: 70%;
}

.quote-name {
    font-size: 2.4rem;
    font-weight: 500;
    width: 70%;
    display: flex;
    justify-content: end;
}